.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-brand img {
  height: 50px;
  border-radius: 15px;
}

.nav-link {
  color: #333333;
  font-weight: 500;
  margin-right: 20px;
}

.nav-link:hover {
  color: #007bff;
}

.btn-outline-dark {
  color: #333333;
  border-color: #333333;
}

.btn-outline-dark:hover {
  background-color: #333333;
  color: #ffffff;
}

.form-control {
  border-radius: 2px;
}

.ms-auto {
  margin-left: auto;
}

.ms-3 {
  margin-left: 1rem;
}

.navbar-brand.mx-auto {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand-logo img{
  height: 40px;
  width: 300px;
}
