<div class="row">
  <%= simple_form_for(@booking, method: :post, url:drone_bookings_path(@drone)) do |f| %>
  <div class="col">
    <%= f.input :starting_date,  as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :ending_date,  as: :string, input_html: { data: { controller: "datepicker" } } %>
  </div>
  <div class="col">
    <div class="row row-cols-lg-auto justify-content-between align-items-center m-3">
      <%= f.submit "Book Now", class:"btn btn-outline-success" %>
      <div>Total: <span data-target="total"> - </span>€</div>
    </div>
  </div>
  <% end %>
</div>
