<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="navbar-brand d-flex w-50">
      <a href="/drones">
        <img src="https://i.postimg.cc/q7Mq5XxT/minimalist-black-and-white-logo-with-a-drone-and-a-solid-background.jpg" alt="Drone'N'GO">
      </a>
    </div>
    <div class="navbar-brand-logo mx-auto">
      <a href="/drones">
        <img src="https://i.postimg.cc/qBLn9trk/titre-MAJ.png" alt="Drone'N'GO">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-50" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/drones">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/drones/new">Add a drone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bookings">My bookings</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://i.postimg.cc/9F22qMwq/Un-pilote-de-drone-en-style-chibi-mignon-et-stylis.jpg" /> </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/users/sign_out" data-turbo-method="delete">Sign out</a></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="dropdown-item" href="/users/sign_in">Sign in</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
